<link rel="stylesheet" type="text/css" href="../css/catalogo.css">

<div class="catalogo_content row" ng-controller="catalogoController">
	<h3 style="text-align: center; color: #566a96;">{{title}}</h3>
	<p>{{desc}}</p>
	
	<div ng-repeat="chiller in chillers" class="col s4">
		<div class="item" style="width:80%;">
			<a href="#!/item/{{chiller.id}}">
				<div class="card medium" style="min-height: 490px">
					<div class="card-image">
						<img src="{{chiller.img}}">
						<span class="card-title">{{chiller.name}}</span>
					</div>
					<div class="card-content">
						<p>{{chiller.desc}}</p>
					</div>
					<div class="card-action">
						<p class="precio">{{chiller.precio}}</p>
					</div>
				</div>
			</a>
		</div>
	</div>


</div>