<link rel="stylesheet" type="text/css" href="../css/catalogo.css">
<div class="row">
	<div class="col s12 m7">
		<div class="item">
			<a href="#!/item">
				<div class="card medium" style="width:60%">
					<div class="card-image">
						<img src="images/mc1.jpg">
						<span class="card-title">Mini Chiller</span>
					</div>
					<div class="card-content">
						<p>Mini chiller para refrigerar lo que desee.</p>
					</div>
					<div class="card-action">
						<p class="precio">$150000</p>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>