<link rel="stylesheet" type="text/css" href="../css/contacto.css">

<div class="contacto_content row" ng-controller="catalogoController">
	<h3 style="margin-left: 1%;">Contacto</h3>
	<br>
	<div class="col s12 m6">
		<div class="card blue-grey darken-1">
			<div class="card-content white-text">
				<span class="card-title">Comfort Center</span>
				<p>Puede contactarse con nosotros a través de las siguientes vías:</p>
			</div>
			<div class="card-action">
				<a href="mailto:correo@mail.com">correo@mail.com</a>
				<a href="#">+14453268877</a>
			</div>
		</div>
	</div>
</div>